* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body,html {
    width: 100%;
    height: 100%;
    font-family: 'Fira Sans', sans-serif;
    color: #4f4f4f;
}
.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.4);
}

.box {
    width: 620px;
    height: 491px;
    background-color: #fff;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box__title {
    background-color: rgb(255,134,99);
    display: flex;
    justify-content: space-between ;
}

.box__title-text {
    padding: 17px;
    font-size: 16px;
    /*font-family: 'Fira Sans', sans-serif;*/
    color: #fff;
    font-weight: bold;
}

.box__title-close {
    margin: 20px;
    display: block;
    width: 14px;
    height: 14px;
}
.close {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: .2s;

}
.close:hover {
    transform: scale(1.1);
    transition: .2s;
}
.close:after{
    content: '';
    position: absolute;
    top: 4px;
    left: -4px;
    display: block;
    width: 19px;
    height: 3px;
    background-color: #fff;
    transform: rotate(45deg);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.close:before{
    content: '';
    position: absolute;
    top: 4px;
    left: -4px;
    display: block;
    width: 19px;
    height: 3px;
    background-color: #fff;
    transform: rotate(-45deg);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.box__footer {
    width: 100%;
    display: flex;
    justify-content: flex-end ;
    background: rgb(240,240,240);

}

.btn-save {
    width: 90px;
    height: 30px;
    margin: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    background: rgb(255,134,99);
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    outline: none;
}

.btn-save:hover {
    background: rgb(204,107,79);
}
.box__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.box__filter {
    width: 100%;
    height: 45px;
    background: rgb(240,240,240);
    display: flex;
}
.filter-left, .filter-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
.label {
    height: 60%;
    width: 90%;

}

.input {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid transparent;
    padding-left: 30px;
}

.label:before {
    content: '';
    position: absolute;
    top: 7px;
    left: 17px;
    width: 30px;
    height: 30px;
    background-image: url("../img/ï€‚.png");
    background-repeat: no-repeat;
    background-position: center;
}

.input:focus {
    border-color:  rgb(255,134,99);
    outline: none;
}

.block {
    flex-grow: 1;
    display: flex;
}
.block-content {
    flex-grow: 1;
    border-left: 2px solid #f0f0f0;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    flex: 1;
}

.block-content:first-child {
    border-left: 0px;
}

.block-content__title {
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px solid #f0f0f0;
}

.block-content__body {
    height: 307px;
    overflow: auto;
    padding-right: 5px;
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f0f0f0;
}

.user:hover {
    background-color:  #f0f0f0;
}
.user:last-child {
    border-bottom: 0px;
}

.user__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.user__photo {
    width: 48px;
    height: 48px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: rgb(255,134,99);
    margin-right: 10px;
    margin-left: 10px;
    overflow: hidden;
}

.user__img {
    width: 100%;
    height: 100%;
}

.user__name {
}

.user__add, .user__remove {
    width: 13px;
    height: 13px;
    padding-right: 20px;

}
.user__add .close {
    transform: rotate(45deg);
}

.user__add .close:hover {
    transform: rotate(45deg) scale(1.1);
}

.user__add .close:after, .user__add .close:before {
    background-color: #7f7f7f;
}
.user__remove .close:after, .user__remove .close:before {
    background-color: #7f7f7f;
}

.block-content__body::-webkit-scrollbar-track {border-radius: 4px;}
.block-content__body::-webkit-scrollbar {width: 6px;}
.block-content__body::-webkit-scrollbar-thumb {border-radius: 4px;background: transparent;}
.block-content__body:hover::-webkit-scrollbar-thumb {background: #7f7f7f;}
